* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.frame {
    height: 100vh;
    width: 100%;
}

.details li {
    list-style: none;
}

a {
    
}

body {
    height: 100vh;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 20px;
}
